$icon-font-path: '../fonts/';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

$font-size-base:          16px !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

//== Pills
$nav-underscore-active-link-hover-color:         $brand-primary !default;
$main-menu-text-color:                           $gray-dark !default

$nav-link-padding:                               8px 15px !default;
$nav-link-hover-bg:                              $gray-lighter !default;

//** Padding around the thumbnail caption
$thumbnail-caption-padding:                      38px !default;

//== Jumbotron
//
//##

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;
$jumbotron-heading-color:        inherit !default;

@mixin panel-variant-footer($border, $heading-text-color, $heading-bg-color, $heading-border) {
  .panel-footer {
    color: $heading-text-color !important;
    background-color: $heading-bg-color !important;
    border-color: $heading-border !important;
  }
}


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "social-sharing.scss";
@import "font-awesome.scss";
// endbower


// Page header
// -------------------------

.page-header {
  border-bottom: 0 !important;
}

// Underscore
// -------------------------
.nav-underscore {
  > li {
    float: left;

    // Links rendered as pills
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $main-menu-text-color !important;
        border-bottom: 4px solid $nav-underscore-active-link-hover-color;
        //color: $nav-pills-active-link-hover-color;
        //background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}

// Underscore
// -------------------------
.nav-underscore-vertical {
  > li {

    // Links rendered as pills
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $main-menu-text-color !important;
        border-bottom: 4px solid $nav-underscore-active-link-hover-color;
        //color: $nav-pills-active-link-hover-color;
        //background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}

.main-menu {
  @extend .nav;
  @extend .nav-underscore;
  > li {
    > a {
      color: $main-menu-text-color !important;
    }
  }
}

.logo {
  > a {
    @extend .h1 ;
    text-decoration: none !important;
  }
}

.jumbotron {
  background-color: transparent;
}

.portfolio-area {
  background-color: #F0F0F0;
}

.box {
  padding-top:    $jumbotron-padding;
  padding-bottom: $jumbotron-padding;
}

.box-blog {
  padding-top:    60px;
  padding-bottom: 60px;
}

.social-box {
  padding-top:    60px;
  padding-bottom: $jumbotron-padding;
}

.social {
  .btn-social-icon {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}

.nav-category {
  > li {
    position: relative;
    display: block;
    padding-right: 15px;
    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      background-color: #ffffff;
      color: $gray-dark;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $gray !important;
        color: #ffffff;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: $cursor-disabled;
      }
    }
  }
}

.thumb:not(:first-child),.thumb:not(:last-child) {
  padding-right:0px;
}

.thumb {
  padding-bottom: 24px;
}


.post-footer {
  background-color: #F7F7F7;
}

.post-footer-box {
  padding-top:    20px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.post {
  padding: 24px;
}

.panel-footer {
  .glyphicon {
    margin-right: 5px;
  }
  a {
    color: $gray-light !important;
  }
}

.panel-info {
  @include panel-variant-footer($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-success {
  @include panel-variant-footer($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}